<div class="band-info">
<h1>About</h1>
<p>Indigo is an instrumental playing band based in Novosibirsk, Russia.</p>
<p>
  Indigo was formed in August, 5 2005 by three persons: Timofey Streltsov (guitars), Tatiana Arisova (bass) and Roman Sotnikov (drums &amp; percussion)
</p>
<p>
  Since 2005 they had recorded published two full albums and have third in production.
</p>
<p>
  You may reach Indigo by email <a href="mailto:info@band-indigo.com">info@band-indigo.com</a>
</p>
<p>
  Hope you will enjoy the music!
</p>
</div>

<div class="center-block social">
<a href="https://www.facebook.com/elterium">
<img src="img/facebook.svg" alt="facebook" width="50" border="0"/>
</a>

<a href="https://www.youtube.com/channel/UCK-CRSAuJoMmSyKFFPtJphw">
<img src="img/youtube.svg" alt="youtube" width="50"/>
</a>

<a href="https://www.instagram.com/elterium_band/?ref=badge">
<img src="img/instagram.svg" alt="youtube" width="50"/>
</a>
</div>