<div class="band-info">
  <h1>About</h1>
  <p>
    Elterium is an instrumental playing band based in cold Siberian city Novosibirsk, Russia.
  </p>
  <p>
    Elterium was formed in August, 5 2005 by three persons: Timofey Streltsov (guitars), Tatiana Pogrebnyak (bass) and Roman Sotnikov (drums &amp; percussion)
  </p>
  <p>
    Since 2005 they had recorded published three full studio albums.
  </p>
  <p>
    You may reach Elterium by email <a href="mailto:info@band-indigo.com">info@band-indigo.com</a>
  </p>
  <p>
    Hope you will enjoy the music!
  </p>
</div>

<div class="center-block social">
  <a href="https://www.facebook.com/elterium">
    <img src="img/facebook.svg" alt="facebook" width="50" border="0"/>
  </a>

  <a href="https://www.youtube.com/channel/UCK-CRSAuJoMmSyKFFPtJphw">
    <img src="img/youtube.svg" alt="youtube" width="50"/>
  </a>

  <a href="https://www.instagram.com/elterium_band/?ref=badge">
    <img src="img/instagram.svg" alt="youtube" width="50"/>
  </a>
</div>