<div class="indigo-photo-wrapper">
  <img src="/img/indigo-photo.jpg" alt="Band Indigo"/>
</div>
<div class="slogan-wrapper">
  <h1>Band Indigo &mdash; instrumental rock from Siberia</h1>
  <h2>Get our music on iTunes, Google play.</h2>
</div>

<div class="store-logos">
  <a href="https://itunes.apple.com/ru/album/chain-reaction/id1220467986?l=en">
    <img src="/img/itunes.png" alt="Available on iTunes" />
  </a>

  <a href="https://play.google.com/store/music/album?id=Bzcj5qo6bakwzmyqsremohexe7m&hl=en">
    <img src="/img/google_play.png" alt="Get it in Google Play"/>
  </a>
</div>
